.text-danger {
  color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity)) !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.modal.show .modal-dialog {
  width: 700px !important;
  max-width: 100% !important;
}