.details_modal .modal-dialog {
    /* width: 700px;
    max-width: calc(100% - 20px); */
}


@media all and (min-width: 480px) {
.profile{
    font-size: 150%;
    position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


}

@media all and (min-width: 480px) {
    .ProfileEdit {
      padding: 10px 0;
    }
  
   
    .ProfileEdit button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #f35a4c;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
    .ProfileEdit button:hover,.form button:active,.form button:focus {
      background: #f35a4c;
    }
}
.row{
    padding: 10px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

